<ion-modal-view >
  <ion-header-bar class="bar bar-dark">
    <h1 class="title ">Login</h1>
  </ion-header-bar>
  <ion-content style="">

    <br><br><br>
    <div class="title" id="nameofapp">
      ALBUM FACERE
    </div>
    <form ng-submit="doLogin()" style="margin-top: 40px">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
       <div class="title" style="font-size:small;">
          Forgot your login details? <strong><a style="color: black;text-decoration: none;" ng-click="getHelp()">Get Help signing in</a></strong>
        </div>

      </div>
    </form>
  </ion-content>
  <!-- 
    <div class="bar bar-footer">
      <div class="title" style="font-size:small;">
        Don't have an account? <strong><a style="color: black;text-decoration: none;" href = "#!/register">Sign up now!</a></strong>
      </div>
    </div>
  -->
</ion-modal-view>
