<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar ng-click="closeLogin()" round class="balanced bar-dark bar-stable button button-dark">
      <p class="title"  menu-close >
        Album Facere
      </p>
    </ion-header-bar>

    <ion-content id="menu-content">
      <div class="list">
        <div class="item item-input padding" >
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter a new Project">
          </label>
          <button ion-button class="balanced button button-small button-dark icon icon-right ion-checkmark-circled"></button>
          
        </div>
      </div>
    </ion-content>
    
  </ion-side-menu>
</ion-side-menus>
